<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{question.subject}}</title>
  </head>
  <body>
    <h1>{{question.subject}}</h1>
    <div>{{question.content}}</div>

    <!--답변들-->
    <h5>{{question.answer_set|length}}개의 답변이 있습니다.</h5>
    <div>
      <ul>
        {%for answer in question.answer_set %}
        <li>{{answer.content}}</li>
        {%endfor%}
      </ul>
    </div>

    <!--답변 등록-->
    <form
      action="{{ url_for('answer.create', question_id=question.id) }}"
      method="post"
    >
      <textarea name="content" id="content" rows="15"></textarea>
      <input type="submit" value="답변등록" />
    </form>
  </body>
</html>
