{%extends 'base.html'%} {%block content%}
<!--질문-->
<div class="container my-3">
  <!--추천 시 에러-->
  {% for message in get_flashed_messages() %}
  <div class="alert alert-danger" role="alert">{{message}}</div>
  {% endfor%}
  <h2 class="border-bottom py-2">{{question.subject}}</h2>
  <!--추천-->
  <div class="row my-3">
    <div class="col-1">
      <div class="bg-light text-center p-3 border font-weight-bolder mb-1">
        {{question.voter|length}}
      </div>

      <a
        href="{{ url_for('vote.question', question_id=question.id) }}"
        class="recommend btn btn-sm btn-secondary btn-block my-1"
        >추천</a
      >
    </div>

    <!--질문 content -->
    <div class="col-11">
      <div class="card">
        <div class="card-body">
          <div class="card-text">{{question.content}}</div>
          <div class="d-flex justify-content-end">
            <div class="badge badge-light p-2 text-left">
              <div class="mb-2">{{question.user.username}}</div>
              <div>{{question.create_date|datetime}}</div>
              <br />
              {%if question.modify_date %}
              <div class="mb-2">modified at</div>
              <div>{{question.modify_date|datetime}}</div>
              {%endif%}
            </div>
          </div>

          {%if g.user == question.user %}
          <div class="my-3">
            <a
              href="{{url_for('question.modify', question_id=question.id)}}"
              class="btn btn-sm btn-outline-secondary"
              >수정</a
            >

            <a
              href="{{url_for('question.delete', question_id=question.id)}}"
              class="delete btn btn-sm btn-outline-secondary"
              >삭제</a
            >
          </div>
          {%endif%}

          <!-- 질문 댓글-->
          {% if question.comment_set|length > 0 %}
          <div class="mt-3">
            {% for comment in question.comment_set %}
            <div class="comment py-2 text-muted">
              <span style="white-space: pre-line">{{ comment.content }}</span>
              <span>
                - {{ comment.user.username }}, {{ comment.create_date|datetime
                }} {% if comment.modify_date %} (수정:{{
                comment.modify_date|datetime }}) {% endif %}
              </span>
              {% if g.user == comment.user %}
              <a
                href="{{ url_for('comment.modify_question', comment_id=comment.id) }}"
                class="small"
                >수정</a
              >
              <a
                href="{{ url_for('comment.delete_question', comment_id=comment.id) }}"
                class="small delete"
                >삭제</a
              >
              {% endif %}
            </div>
            {% endfor %}
          </div>
          {% endif %}

          <div>
            <a
              href="{{ url_for('comment.create_question', question_id=question.id) }}"
              class="small"
              ><small>댓글 추가 ..</small></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--답변들-->
  <h5 class="border-bottom my-3 py-2">
    {{question.answer_set|length}}개의 답변이 있습니다.
  </h5>

  {%for answer in question.answer_set %}
  <div class="row my-3">
    <!--추천-->
    <div class="col-1">
      <div class="bg-light text-center p-3 border font-weight-bolder mb-1">
        {{ answer.voter|length }}
      </div>

      <a
        href="{{ url_for('vote.answer', answer_id=answer.id) }}"
        class="recommend btn btn-sm btn-secondary btn-block my-1"
        >추천</a
      >
    </div>

    <!--답변-->
    <div class="col-11">
      <div class="card">
        <div class="card-body">
          <div class="card-text" style="white-space: pre-line">
            {{ answer.content }}
          </div>

          <div class="d-flex justify-content-end">
            <div class="badge badge-light p-2 text-left">
              <div class="mb-2">{{answer.user.username}}</div>
              <div>{{ answer.create_date|datetime }}</div>
              <br />
              {%if answer.modify_date %}
              <div class="mb-2">modified at</div>
              <div>{{answer.modify_date|datetime}}</div>
              {%endif%}
            </div>
          </div>

          {%if g.user == answer.user%}
          <div class="my-3">
            <a
              href="{{url_for('answer.modify', answer_id=answer.id)}}"
              class="btn btn-sm btn-outline-secondary"
              >수정</a
            >

            <a
              href="{{url_for('answer.delete', answer_id=answer.id)}}"
              class="delete btn btn-sm btn-outline-secondary"
              >삭제</a
            >
          </div>
          {%endif%}

          <!--대댓글-->
          {%if answer.comment_set|length > 0 %}
          <div class="mt-3">
            {%for comment in answer.comment_set %}
            <div class="comment py-2 text-muted">
              <span style="white-space: pre-line">{{comment.content}}</span>
              <span>
                - {{ comment.user.username }}, {{ comment.create_date|datetime
                }} {% if comment.modify_date %} (수정:{{
                comment.modify_date|datetime }}) {% endif %}
              </span>
              {%if g.user == comment.user%}
              <a
                href="{{ url_for('comment.modify_answer', comment_id=comment.id) }}"
                class="small"
                >수정</a
              >
              <a
                href="{{ url_for('comment.delete_answer', comment_id=comment.id) }}"
                class="small delete"
                >삭제</a
              >
              {%endif%}
            </div>
            {%endfor%}
          </div>
          {%endif%}

          <div>
            <a
              href="{{ url_for('comment.create_answer', answer_id=answer.id) }}"
              class="small"
              ><small>댓글 추가 ..</small></a
            >
          </div>
          <!--답변끝-->
        </div>
      </div>
    </div>
  </div>

  {%endfor%}

  <!--답변 등록-->
  <form
    action="{{ url_for('answer.create', question_id=question.id) }}"
    method="post"
    class="my-3"
  >
    {{form.csrf_token}}
    <!--오류 표시-->
    {%include 'form_errors.html' %}

    <div class="form-group">
      <textarea
        {%if
        not
        g.user%}
        disabled
        {%endif%}
        name="content"
        id="content"
        class="form-control"
        rows="5"
      ></textarea>
    </div>
    <input type="submit" value="답변등록" class="btn btn-primary" />
  </form>
</div>
{%endblock%}
